body{
color:rgb("150,150,150");
}

.1{
width:auto;
height:auto;
background: url('') no-repeat;
-moz-background-size: cover; 
-ms-background-size: cover;
-webkit-background-size: cover;
background-size:cover;
}
